<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link rel="shorcut icon" type="image/x-icon" href="static/img/ojo2.ico">
    <title>Mi primer sitio web con python</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
  <!--Este es el nav del lado izquierdo de la pantalla-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Python Web Nav</a>

<!--Este es el boton del lado Derecho de la pantalla los enlaces-->          
       <!-- <button  class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
        aria-label="Toggle navigation">
Este es el icono "Span" de las tres rayitas en la app se llama span la clase se usa para los estilos
          <span class="navbar-toggler-icon"></span>
        </button>-->
<!--Este es el nav del lado Derecho de la pantalla-->        
        <div class="ul" class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
             <!-- <a class="nav-link" href="{{url_for('about') }}">About</a>-->
            </li>
            <li class="nav-item2">
              <a class="nav-link" href="{{url_for ('about')}}">About Work</a>
            </li>
          </ul>
        </div>
      </nav>
     
   <div class="container p-4" >
    {% block content %}
    {% endblock %}
   </div>
   <div class="footer">jbxcxc</div>
</body>
</html>